.draggable-container{
    background-image: linear-gradient(to top, #000000, #060406, #09090c, #090e11, #091214, #0e1717, #131a19, #181e1b, #202420, #272a26, #2f302d, #363634);
    width: 14rem;
    text-align: center;
    padding: 1rem;
    border-radius: 3rem;
    color: white;
}

img{
    width: 3rem;
    height: 3rem;
    padding: 2px;
}