.header {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        h6 {
            color: white;
            text-decoration: none;
        }
    }
    &__userZone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 10000px) {
        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}