.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 5rem;
            height: 5rem;
        }
    }
    &__userZone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 10000px) {
        &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 5rem;
                height: 5rem;
                margin-top: 1rem;
            }
        }
    }
}