.header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
        &__logo{
            margin-left: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 5rem;
                height: 5rem;
            }
        }
        &__appName {
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                color: white;
            }
        }
        &__userZone {
            margin-right: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}
